<form action="">
    <h3>About you</h3>

    <div>
        <label for="first-name">EMAIL</label>
        <input name="first-name" type="text" />
    </div>

    <div>
        <label for="last-name">PASSWORD</label>
        <input name="last-name" type="text" />
    </div>

    <h3>Login informations</h3>

    <div>
        <label for="email">EMAIL</label>
        <input name="email" type="text" />
    </div>

    <div>
        <label for="password">PASSWORD</label>
        <input name="password" type="password" />
    </div>

    <div>
        <p><input name="conditions" type="checkbox" /> I accept the terms and conditions</p>
    </div>

    <div>
        <input class="purple-button" type="submit" value="REGISTER" />
    </div>
</form>
